*{
	margin: 0;
	height: 0;
}
.logo{
	width: 100%;
	height: 70px;
	background: #333231;
}
.logo-left{
	
	width: 189px;
	height: 70px;
	float: left;

}
.logo-right{
	width: 265px;
	height: 70px;
	float: right;
	margin-right: 150px;
	
}
.logo-right a{
	font-size: 13px;
	color: #999999;
	text-decoration: none;
	line-height: 70px;
	margin: 0 12px;
}
.logo-right a:hover{
	color: #C69C6D;
}
.banner{
	width: 1200px;
	height: 888px;
	background: #FDF8F4;
	margin: 0 auto;
}

.img{
	width: 800px;
	height: 800px;
	
	float: left;
}
.bbox{ 
	position: relative;
	background: white;
	width: 400px;
	height: 500px;
	overflow: hidden;
	float: left;
	margin-top:150px ;
	box-shadow: 0px 0px 30px -5px #666666;
}
.bbox-left{
	width: 200px;
	height: 82px;
	float: left;
	color: orange;
	cursor: pointer;
}
.bbox-left p{
	font-size: 18px;
	line-height: 82px;
	text-align: center;
}
.bbox-right p{
	font-size: 18px;
	line-height: 82px;
	text-align: center;
}
.bbox-bottom{
	top:82px;
	position: absolute;
	width: 400px;
	height: 418px;
	float: left;

}
.bbox2{
	top:82px;
	position: absolute;
	width: 400px;
	height: 418px;
	float: left;
	display: none;
	background: white;
}
.kuang{
	width: 330px;
	height: 50px;
	border: 1px solid #cccccc;
	margin-top: 18px;
	margin-left: 35px;
}
.de{
	width: 330px;
	height: 50px;
	border: none;
	background: #F19108;
	font-size: 13px;
	color: white;
	margin-top: 18px;
	margin-left: 35px;
}
.in{
	width: 298px;
	height: 48px;
	
	font-size: 13px;
	float: left;
	border: none;
	text-indent: 1em;
}
.erwei{
	width: 176px;
	height: 176px;
	margin: 26px auto;
	background: white;
}
.erwei img{
	width: 100%;
	height: 100%;
}
.ff span{
	font-size: 14px;
	line-height: 52px;
}
.ff{
	height: 52px;
}
.ff a{
	font-size: 13px;
	color: orange;

	line-height: 52px;
	
}
.login{
	margin-left: 50px;
	font-size: 13px;
	color: #999999;
	float: left;
	line-height: 30px;
	height: 30px;
	width: 300px;
}
.lo{
	width: 15px;
	height: 15px;
	margin-left: 50px;
	float: left;

}
.bbox-right{
	width: 200px;
	height: 82px;
	float: left;
	cursor: pointer;
}
.font{
	width: 1583px;
	height: 136px;

	margin: 0 auto;
}
.font-box{
	width: 236px;
	height: 136px;

	float: left;
}

.font-box a{
	display: block;
	margin-left:75px ;
	text-decoration: none;
	font-size: 14px;
	height: 34px;
	line-height: 34px;
	color: black;
}
.font-finaly{
	width: 1200px;
	height: 70px;

	margin: 20px auto ;
}
.font-finaly p{
	font-size: 13px;
	line-height: 38px;
	height: 38px;
	float: left;
	margin-right: 35px;
}
.font-finaly a{
	font-size: 13px;
	line-height: 38px;
	text-decoration: none;
	float: left;
	margin-right: 35px;
	height: 38px;
	color: black;
}
.font-finaly a:hover{
	text-decoration: underline;
}
.img6{
	width:108px;
	height: 40px;

	margin-right: 35px;
	float: left;
	overflow: hidden;
}
.img6 img{
	width: 100%;
	height: 100%;
}
.ll{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
