*{
	margin:0;
	padding:0;
}
.logo{
	width: 100%;
	height: 130px;

	margin: 0 auto;
	overflow: hidden;
}
.logo-left{
	width: 156px;
	height: 28px;
	margin: 62px 0px 0px 200px;
	float: left;

}
.logo-left a{
	text-decoration: none;
	font-size: 12px;
	color: black;
	margin-left: 23px;
	margin-right: 8px;
	float: left;
	line-height: 28px;
}
.logo-left a:hover{
	color: #FFB819;
}
.logo-left li{
	list-style: none;
	width: 78px;
	height: 28px;
	border-right: 1px solid #CCCCCC;
	float: left;

}
.logo-center{
	float: left;
	margin-left: 280px;
	margin-top: 30px;
}
.logo-right{
	width: 244px;
	height: 28px;
	float: left;
	margin-top: 62px;
	margin-left: 255px;
}
.logo-right li{
	width: 60px;
	height: 28px;

	list-style: none;
	float: left;
	border-right: 1px solid #cccccc;
	
}
.logo-right img{
	margin-left: 18px;
}
.logo-right a{
	line-height: 28px;
	font-size: 12px;
	margin-left: 18px;
	color: black;
	text-decoration: none;
	
}
.logo-right a:hover{
	color: #FFB819;
	text-decoration:underline;
}
/*二级菜单部分*/
.center{
	position: relative;
	width: 100%;
	height: 50px;
	background: black;
}
.center-box{
	width: 1200px;
	height: 50px;
	background: black;
	margin: 0 auto;
}
.center-left{
	width: 960px;
	height: 50px;
	float: left;
	
}
.center-left li{
	width: 87px;
	height: 50px;
	line-height: 50px;
	list-style: none;
	float: left;
}
.center-left a{
	font-size: 13px;
	color: #FFB819;
	text-decoration: none;
}
.center-right{
	width: 100px;
	height: 50px;
	float: right;
}
.center-right a {
	font-size: 13px;
	color: #FFB819;
	text-decoration: none;
	line-height: 50px;
	float: right;
}
.center-left a:hover{
	color: white;
}
.center-right a:hover{
	color: white;
}
/*二级菜单栏*/
.secend{
	
	width: 100%;
	background: white;
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 2;
	display: none;
}
.secend a:hover{
	color: black;
	text-decoration: underline;
}
.third a:hover{
	color: black;
	text-decoration: underline;
}
.four a:hover{
	color: black;
	text-decoration: underline;
}
.five a:hover{
	color: black;
	text-decoration: underline;
}
.six a:hover{
	color: black;
	text-decoration: underline;
}
.siven a:hover{
	color: black;
	text-decoration: underline;
}
.eight a:hover{
	color: black;
	text-decoration: underline;
}
.nine a:hover{
	color: black;
	text-decoration: underline;
}
.ten a:hover{
	color: black;
	text-decoration: underline;
}
.eleven a:hover{
	color: black;
	text-decoration: underline;
}
.third{
	width: 100%;
	left: -87px;
	background: white;
	position: absolute;
	top: 50px;
	z-index: 2;

}
.four{
	width: 100%;
	left: 0px;
	background: white;
	top: 50px;
	position: absolute;
	z-index: 2;

}
.five{
	width: 100%;
	left: 0px;
	background: white;
	position: absolute;
	z-index: 2;
	top: 50px;
}
.six{
	width: 100%;
	left: 0px;
	top: 50px;
	background: white;
	position: absolute;
	z-index: 2;
}
.siven{
	width: 100%;
	left: 0px;
	top: 50px;
	background: white;
	position: absolute;
	z-index: 2;
}
.eight{
	width: 100%;
	left: 0px;
	top: 50px;
	background: white;
	z-index: 2;
	position: absolute;
}

.nine{
	width: 100%;
	left: 0px;
	top: 50px;
	background: white;
	position: absolute;
	z-index: 2;
}
.ten{
	width: 100%;
	left: 0px;
	top: 50px;
	background: white;
	position: absolute;
	z-index: 2;
}
.eleven{
	width: 100%;
	left: 0px;
	top: 50px;
	background: white;
	z-index: 2;
	position: absolute;
}
.secend-box{
	width: 1200px;
	margin: 0 auto;
	background: white;
	position: relative;
	display: none;
	
	z-index: 2;
}

.box{
	width: 200px;
	float: left;
}
.box1{
	width: 200px;
	float: left;
	margin-top:73px ;
}
.box p{
	font-size: 13px;
	font-weight: 500;
	margin-top:27px ;
	line-height: 46px;
}
.box a{
	display: block;
	font-size: 13px;
	text-decoration: none;
	line-height: 40px;
	color: #666666;
	
}
.box1 a{
	display: block;
	font-size: 13px;
	text-decoration: none;
	line-height: 40px;
	color: #666666;
	
}
.secend-box1{
	width: 1200px;
	margin: 0 auto;
	background: red;
	position: relative;
	/*display: none;*/
}
.all{
	width: 1200px;
	height: 62px;
	
	margin: 0 auto;
	position: relative;
}
.all a{
	display: block;
	font-size: 12px;
	color: #666666;
	line-height: 62px;
	float: left;
	text-decoration: none;
}
.er{
	border: 1px solid #EDEDED;
	width: 80px;
	margin-top:21px ;
	height: 20px;
	float: left;

}
.er:hover{
	background: white;
	border:1px solid #999999;
	border-bottom: none;
}
.er a{
	display: block;
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
	line-height: 20px;
	float: left;
	text-decoration: none;
}
.Img{
	margin:6px 10px; 
	float: left;
	transform: rotateZ(90deg);
	transition: all 0.5s;
}
.all a:hover{
	color: #E93B39;
}
.er:hover .Img{
	transform: rotateZ(-90deg);
	transition: all 0.5s;
	
}
.erji{
	box-shadow: 0 1px 5px 1px #999999;
	display:none;
	width: 1198px;
	height:208px;
	/*border: 1px solid #666666;*/
	position: absolute;
	top: 45px;
	left: 0px;
	z-index: 0;
	background: white;

	
}
.erji div{
	margin-top: 10px;
	width: 115px;
	height: 185px;
	float: left;
	margin-right: 1px;
	

}
.erji a{
	width: 115px;
	display: block;
	text-decoration: none;
	color: #333231;
	font-size: 13px;
	line-height: 37px;
	
}
.erji a:hover {
	color: black;
	text-decoration: underline;
}
.cen{
	width: 1200px;
	height: 122px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 1px 5px 1px #d3d3d3;
}
.cen span:hover{
	color: red;
}
.cen-t{
	width: 1200px;
	height: 74px;
	border-bottom: 1px dashed #ededed;
	background: white;
}
.cen-c{
	width: 1200px;
	height: 46px;
	background: white;
	border-bottom: 1px dashed #ededed;
}
.cen-t-left{
	width: 111px;
	height: 74px;
	background: #f5f5f5;
	float: left;
	
}
.cen-t-left1{
	width: 111px;
	height: 46px;
	float: left;
	background: #f5f5f5;
}
.lll{
	margin-left: 22px;
	line-height: 46px;
	font-size: 12px;
	color: #666666;
	
}
.lists{
	width: 1200px;
	background: white;
	height: 4380px;
	margin: 10px auto;
	overflow: hidden;
}
.cen-t-right{
	width: 1089px;
	height: 74px;

	float: left;
}
.cen-c-right{
	width: 1089px;
	height: 46px;

	float: left;
}
.cen-box{
	width: 190px;
	height: 74px;
	float: left;

}
.cen-box p{
	cursor: pointer;
}
.more{
	width: 81px;

	height: 23px;
	float: left;
	margin: 31px 10px;
}
.more span{
	color: #666666;
	font-size: 12px;
	cursor: pointer;
}
.cen-c-right span{
	font-size: 12px;
	color: #666666;
	padding: 0 20px;
	line-height: 46px;
	cursor: pointer;
}
.tip{
	width: 80px;
	height: 22px;
	box-shadow: 0 1px 5px 1px #d3d3d3;
	background: white;
	margin: 1px auto;
	
}
.tip span{
	color: #666666;
	font-size: 12px;
	margin-left: 12px;
}
.cen-box p:hover {
	color: red;
}
.nav{
	width: 95px;
	height: 40px;
	color: #666666;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border-top:2px solid white ;
}
.guding{
	width: 1200px;
	height:44px;
	background: #f5f5f5;
	float: left;
}
.gudingflex{
	width: 1200px;
	height:44px;
	background: #f5f5f5;
	float: left;
	position: fixed;
	line-height: 44px;
	top: 0;
}
.gudingflex span{
	font-size: 12px;
	color: #666666;
}
.ietm{
		width: 280px;
		height: 24px;
		margin-left: 29px;
		margin-top: 10px;
		list-style: none;
		float: left;
}
.ietm li{
	float: left;
	width: 44px;
	height: 24px;
	background: white;
	border: 1px solid #f5f5f5;
	color: #666666;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

.pric{
	position: relative;
	width: 126px;
	height: 44px;
	z-index: 1;
	float: left;
	margin-left: 10px;
	
}
.pric input{
	margin:10px 1px ;
	width: 44px;
	height: 22px;
	border: 1px solid #cccccc;
}
.in-box{
	width: 126px;
	height: 32px;
	background: #ededed;
	position: absolute;
	top: 44px;
	display: none;
	}
.k{
	width: 44px;
	height: 20px;
	border: 1px solid #ededed;
	background: white;
	color: #666666;
	margin-left:10px;
	float: left;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	line-height: 20px;
}
/*.gudingflex .k{
	width: 44px;
	height: 20px;
	border: 1px solid #ededed;
	background: white;
	color: #666666;
	margin-left:10px;
	float: left;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}*/
.k1{
	line-height: 20px;
	width: 44px;
	height: 20px;
	border: 1px solid #ededed;
	background: #E93B39;
	color: white;
	margin-left:10px;
	float: left;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.k:hover{
	color: #E93B39;
	border: 1px solid #E93B39;
}
.k1:hover{
	background: #E50011;
}
.pric:hover{
	background: #ededed;
}
.pric:hover .in-box{
	display: block;
}
.guding span{
	color: #666666;
	font-size: 12px;
	line-height: 44px;
	margin-left: 3px;
	
}
.fu{
	margin-left: 10px;


}
.tip:hover span{
	color: red;
	cursor: pointer;

}
.KK{
	width: 150px;
	height: 20px;
	border: 1px solid #ededed;
	outline: none;
	margin-left: 15px;
	font-size: 12px;
	margin-top: 12px;
	float: left;
	text-indent: 0.5em;

}
.yes{
	border: 1px solid #ededed;
	background: white;
	width: 40px;
	height: 20px;
	float: left;
	color: #666666;
	font-size: 12px;
	text-align: center;
	margin-right: 50px;
	margin-top: 12px;
	float: left;
	line-height: 20px;
	cursor: pointer;
}
.yes:hover{
	border: 1px solid black;
	color: black;
}
.big-item{
	width: 1130px;
	height: 4200px;
	margin-top: 90px;
	margin-left: 35px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
	
}
.big-item span{
	width: 260px;
	height: 410px;

}
.big-item span:hover{
	box-shadow: 0 0 5px -2px black;
}
.img-list{
	width: 240px;
	height: 380px;
	margin-top: 25px;
	margin-left: 10px;
	background: white;

}

.imggg{
	width: 240px;
	height: 240px;
	background: green;
}
.imggg img{
	width: 100%;
	height: 100%;
}
.img-list .font-list{
	width: 240px;
	background: black;
	color: white;
	font-size: 12px;
	line-height: 41px;
}
.fenge{
	width: 240px;
	height: 1px;
	background: #cccccc;
}
.intrduce{
	width: 240px;
	height: 30px;
	margin-top: 8px;
	line-height: 15px;
	font-size: 12px;
	overflow: hidden;
	color: #666666;
	
}
.img-list .prices1{
	font-size: 12px;
	color: black;
	background: white;
	line-height: 25px;
	font-weight: bold;
}
.bt{
	width: 70px;
	height: 23px;
	background: #E93B39;
	margin-top: 5px;
	border: none;
	outline: none;
	font-size: 12px;
	color: white;
	display: none;
	float: left;
}
.bt:hover{
	background: #E50011;
}
.tutu{
	vertical-align: middle;
	 margin-left: 80px;
	 margin-top: 10px; 
	 float:left;
	 display: none;
}
.img-list .shouchang{
	height: 24px;
	width: 30px;
	font-size: 13px;
	color: #666666;
	background: white;
	margin-top: -15px;
	margin-left: 100px;
	float:left;
	display: none;
	cursor: pointer;
}
.img-list .shouchang:hover{
	color: #E93B39;
	box-shadow: none;
}
.last{
	width: 100%;
	height: 520px;
	margin-top: 100px;
	background: #FFB819;
}
.img5{
	width: 310px;
	height: 220px;

	margin: 0 auto;
}
.last-box{
	width: 1200px;
	height: 504px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.last-box1{
	width: 380px;
	height: 504px;
	background: #000000;
}
.last-box1:hover img{
	opacity: 0.7;
	transition: all 0.5s;
}
.center-last{
	width: 1200px;
	height: 330px;
	margin: 0 auto;

}
.title{
	float: left;
	width: 100px;
	margin-right: 450px;
	height: 60px;
	
}
.titl{
	float: left;
	width: 100px;
	height: 60px;


}
.titl p{
	font-size: 16px;
	margin-top: 42px;
	
}

.title p{
	font-size: 16px;
	margin-top: 42px;

}
.APP-last{
	width: 325px;
	height: 240px;

	float: left;
}
.APP-last2{
	width: 100px;
	height: 240px;

	float: right;
}
.weibo{
	width: 550px;
	height: 240px;
	background: url(../img/333.png);
	background-position: -1px top;
	float: left;
	
	
}
.font-box{
	width: 115px;
	height: 229px;
	margin-top: 21px;
	float: left;
}
.font-box a{
	font-size: 13px;
	line-height: 32px;
	text-decoration: none;
	color: black;
	display: block;
}
.font-box a:hover{
	text-decoration: underline;
}
.weiboma{
	width: 65px;
	height: 20px;
	
	margin-top: 107px ;
	margin-left: 87px;
	float: left;
}
.weiboma a{
	font-size: 13px;
	text-decoration: none;
	color: black;
	line-height: 20px;
	display: block;
	float: left;
	margin-left: 5px;
}
.weixinma a{
	font-size: 13px;
	text-decoration: none;
	color: black;
	line-height: 20px;
	display: block;
	margin-left: 5px;
	float: left;
}
.weixinma a:hover{
	text-decoration: underline;
}
.weiboma a:hover{
	text-decoration: underline;
}
.weixinma{
	width: 65px;
	height: 20px;
	margin-top: 106px;
	margin-left: 230px;
	float: left;
}
.makuang{
	width: 120px;
	height: 120px;
	margin-left: -228px;
	margin-top: -70px;
	float: left;
	display: none;
	
}
.makuang1{
	width: 120px;
	height: 120px;
	margin-left: -228px;
	margin-top: -70px;
	float:left;
	display: none;
	
}
.weiboma:hover .makuang{
	display: block;
}
.weixinma:hover .makuang1{
	display: block;
}
.font-finaly{
	width: 1200px;
	height: 70px;

	margin: 20px auto ;
}
.font-finaly p{
	font-size: 13px;
	line-height: 38px;
	float: left;
	margin-right: 35px;
}
.font-finaly a{
	font-size: 13px;
	line-height: 38px;
	text-decoration: none;
	float: left;
	margin-right: 35px;
	color: black;
}
.font-finaly a:hover{
	text-decoration: underline;
}
.img6{
	width:108px;
	height: 40px;

	margin-right: 35px;
	float: left;
	overflow: hidden;
}
.img6 img{
	width: 100%;
	height: 100%;
}
.ll{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.ye{
	width: 520px;
	height: 24px;
	
	margin: 5px auto;
	list-style: none;
	
}
.ye-one1{
	width: 53px;
	height: 22px;
	float: left;
	margin-right: 10px;
	border: 1px solid #cccccc;
	cursor: not-allowed;
	font-size: 12px;
	color: #cccccc;
	line-height: 22px;
	text-align: center;
}
.ye-one{
	width: 53px;
	height: 22px;
	float: left;
	margin-right: 10px;
	border: 1px solid #cccccc;
	cursor: not-allowed;
	font-size: 12px;
	color: #cccccc;
	line-height: 22px;
	text-align: center;
}
.ye-two{
	width: 24px;
	height: 22px;
	float: left;
	border: 1px solid #cccccc;
	margin-right: 10px;
	cursor: pointer;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	color: #666666;
}
.ye-two:hover{
	border: 1px solid black;
}
.ye-one:hover{
	border: 1px solid black;
}
.sou{
	width: 705px;
	height: 35px;
	margin-left: 250px;
	margin-top: 80px;
	background: #cccccc;

}
.k-left{
	width: 632px;
	height: 32px;
	float: left;
	border: 1px solid #463B7F;
}
.k-left input{
	width: 632px;
	height: 32px;
	text-indent: 0.5em;
	outline: none;
	border: none;
	font-size: 12px;
}
.k-right{
	width: 68px;
	height: 32px;
	border: 1px solid #554A94;
	background: #554A94;
	float: left;
	text-align: center;
	line-height: 32px;
	color: white;
	font-size: 14px;
	text-shadow: 0 5px 2px 1px black;
}
.fieewm{
	width: 120px;
	height: 165px;
	position: fixed;
	
	top:78%;
	left:3%;
}
.zhiding{
	width: 40px;
	height: 36px;
	position: fixed;
	left: 90%;
	top: 75%;;
	background: white;
	overflow: hidden;
	display: none;
	
}
.zhiding img{
	position: absolute;
	left: -53px;;
}
.zhiding:hover img{
	left: 0;
}
.zhiding:hover{
	background: black;
}
